restjassureddemo/restservicedemo/src/test/resources/person-car.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cars" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="id"/>
              <xs:element type="xs:string" name="make"/>
              <xs:element type="xs:string" name="model"/>
              <xs:element type="xs:short" name="yop"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="firstName"/>
        <xs:element type="xs:byte" name="id"/>
        <xs:element type="xs:short" name="yob"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
